//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        tab_home: tab_home {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_HOME";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp HOME>;

            tapping-term-ms = <300>;
        };

        tab_layer: tab_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAB_LAYER";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&tab_home>;
        };

        enter_end: enter_end {
            compatible = "zmk,behavior-tap-dance";
            label = "ENTER_END";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp END>;

            tapping-term-ms = <300>;
        };

        enter_layer: enter_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "ENTER_LAYER";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&enter_end>;
        };
    };

    combos {
        compatible = "zmk,combos";

        capslock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <19 10>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q             &kp W               &kp E           &kp R           &kp T           &kp Y                  &kp U            &kp I             &kp O                &kp P
              &hm LEFT_SHIFT A  &hm LEFT_CONTROL S  &hm LEFT_ALT D  &hm LEFT_GUI F  &kp G           &kp H                  &hm RIGHT_GUI J  &hm RIGHT_ALT K   &hm RIGHT_CONTROL L  &hm RIGHT_SHIFT SEMICOLON
&lt 3 ESCAPE  &kp Z             &kp X               &kp C           &kp V           &kp B           &kp N                  &kp M            &kp COMMA         &kp DOT              &kp SLASH                  &kp APOSTROPHE
                                                    &tab_layer 1 0  &kp BACKSPACE   &kp LEFT_GUI    &mt LEFT_SHIFT DELETE  &kp SPACE        &enter_layer 2 0
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
           &kp C_PLAY_PAUSE   &kp C_PREVIOUS  &kp UP_ARROW  &kp C_NEXT       &kp LBRC    &kp RBRC  &kp NUMBER_7            &kp NUMBER_8       &kp NUMBER_9        &kp NUMBER_0
           &hm LSHFT PAGE_UP  &kp LEFT        &kp DOWN      &kp RIGHT        &kp LBKT    &kp RBKT  &hm RIGHT_GUI NUMBER_4  &hm RALT NUMBER_5  &hm RCTRL NUMBER_6  &hm RSHIFT MINUS
&kp GRAVE  &kp PAGE_DOWN      &kp K_MUTE      &kp C_VOL_DN  &kp C_VOLUME_UP  &kp LPAR    &kp RPAR  &kp NUMBER_1            &kp NUMBER_2       &kp NUMBER_3        &kp BACKSLASH     &kp EQUAL
                                              &trans        &trans           &trans      &trans    &trans                  &trans
            >;
        };

        Num {
            display-name = "Num";
            bindings = <
        &kp EXCL           &kp AT               &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp PERCENT    &kp CARET     &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT        &kp DQT
        &hm LEFT_SHIFT F2  &hm LEFT_CONTROL F3  &hm LEFT_ALT F4   &hm LEFT_GUI F5   &kp F6         &kp F7        &hm RGUI F8    &hm RALT F9      &hm RCTRL F10  &hm RSHIFT F11
&kp F1  &kp NUMBER_1       &kp NUMBER_2         &kp NUMBER_3      &kp NUMBER_4      &kp N5         &kp NUMBER_6  &kp N7         &kp N8           &kp N9         &kp N0          &kp F12
                                                &trans            &trans            &trans         &trans        &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
